*{
    scroll-behavior: smooth;

}
.explore_{
    width: 100%; 
    height: 700px; 
   /* background-color:/* #0c267a;*/
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
}
i:hover{
   color:green;
}
.explore_text{
    width: 50%;
}
.explore_text h1{
    text-align: center;
    margin-top: 60px;
    font-size:5.5rem;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#EXPLORE{
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    font-size: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(90deg, #0065ff, #6942ef, #6554c0, #008cff, #0065ff, #6942ef);
}
.explore_text p{
    text-align: center;
    margin-top: 60px;
    font-size:1.5rem;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (max-width: 600px) {
    .explore_text h1{
        font-size: 60px;
    }
    #EXPLORE{
        font-size: 90px;
    }
    .explore_text{
        width: 100%;
    }
}