.newprojects{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='whitesmoke' d='M46.1,-79.8C59.7,-72.1,70.7,-59.6,77.1,-45.5C83.6,-31.4,85.6,-15.7,85.1,-0.3C84.5,15.1,81.5,30.2,74.3,43C67.1,55.8,55.7,66.2,42.6,74C29.5,81.7,14.8,86.7,-0.3,87.1C-15.3,87.6,-30.6,83.5,-43.3,75.5C-55.9,67.6,-66,55.8,-74.6,42.5C-83.2,29.3,-90.3,14.6,-90.5,-0.1C-90.7,-14.9,-84.1,-29.8,-75.4,-42.9C-66.7,-55.9,-56,-67.2,-43.1,-75.2C-30.2,-83.3,-15.1,-88.2,0.6,-89.3C16.3,-90.3,32.6,-87.4,46.1,-79.8Z' transform='translate(100 100)' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 1095px;
  

}
.newprojects h1{
    font-family: "Josefin Sans", sans-serif;
    width: 90%;

}
.newprojects p{
    font-size: 1.2rem;
    text-align: center;
    font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    width: 500px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: 0.2s;
}
img:hover{
    width: 500px;
    position: static;
}
@media only screen and (max-width: 1200px) {
    .newprojects{
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        overflow: hidden;
    }
    img{
        width: 390px;
    }
}